{% load static %}
    <header class="header">
        <div class="container">
            <a href="{% url 'home' %}" class="header__logo">
                <img src="{% static 'images/logo_defiesta.svg' %}" alt="">
            </a>
            <nav class="header__menu">
                <a class="header__menu-item" href="{% url 'providers:show_categories' %}">Categorías</a>

                <div class="header__menu-dropdown">
                    <a class="header__menu-item" href="{% url 'providers:show_providers' %}">Proveedores</a>
                    
                    {% if request.user.is_authenticated %}
                    <div class="dropdown__megamenu">
                        <div class="dropdown__megamenu-wrapper">
                            <div class="container">
                                <a href="{% url 'providers:create_provider' %}">Crear Provedor</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
                
                <a class="header__menu-item" href="#">Contacto</a>
            </nav>
            <div class="header__profile">
                {% if request.user.is_authenticated %}
                    <a href="">
                        <i class="fas fa-user"></i>
                        {{ request.user.username }}
                    </a>
                    |
                    <a class="" href="{% url 'users:logout' %}">
                        <span>Cerrar sesión</span>
                    </a>
                {% else %}
                    <a href="{% url 'users:login' %}">
                        <i class="fas fa-user"></i>
                        Iniciar sesión
                    </a>
                {% endif %}
            </div>
        </div>
    </header>
